$--color-bg: #ecd4ca;
$--color-bg-variant:#41787f;
$--color-primary:#c98771;
$--color-primary-variant:rgba(39, 97, 138);
$--color-white: #fff;
$--color-light: rgba(255, 255, 255, 0.91);

$--transition: all 400ms ease;

section{
    margin-top: 1rem;
    display: contents;
    
}
.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    height: auto;
    overflow: visible;
    padding-bottom: 5rem;

}
    
    
    
.btn {
    width: max-content;
    display: inline-block;
    color: $--color-primary-variant;
    
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid $--color-primary-variant;
    transition: var(--transition);
    &:hover {
        background: $--color-primary-variant;
        color: white;
    }
  }
  
  .btn-primary {
    background: $--color-primary-variant;
    color: $--color-bg;
    &:hover {
        color: white;
        background: $--color-primary-variant;
    }
  }

.portfolio__item{
    background: $--color-bg-variant;
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    margin-bottom: auto;
    transition:$--transition;
   
    &:hover {
        border-color: $--color-bg-variant;
        background: transparent;
        color: $--color-primary;
    }
    &-image {
        overflow: hidden;
        border-radius: 1.5rem;
    }

    & h3 {
        margin: 1.2rem 0 2rem;
    }

    &-cta {
        display: flex;
        gap: 2rem;
    }

    & p{
        margin: 1.2rem 0 2rem;
        overflow: scroll; 
    }
}

/*==========media queries (medium devices )============*/

@media screen and (max-width: 1024px ) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
    }

}

/*==========media queries (small devices )============*/
@media screen and (max-width: 600px ) {
    
.portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;

}
}