$--color-bg: #ecd4ca;
$--color-bg-variant:#41787f;
$--color-primary:#c98771;
$--color-primary-variant:rgba(77,181,255,0.4);
$--color-white: #fff;
$--color-light: rgba(255, 255, 255, 0.91);

$--transition: all 400ms ease;

.container {
    height:100vh;
    padding-top: 7rem;
    overflow: hidden;

    
}

.container__header{
    text-align: center;
    height: 100%;
    position: relative;
    color: $--color-primary;
}

/*==== calltoaction======*/

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;

}

/*==== HEADER SOCIALS======*/

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left:0;
    bottom: 3rem;
    font-size: 1.5rem;

}

.header__socials::after {

    content: '|';
    width: 1px;
    height: 2rem;
    color: $--color-primary;
}

/*=====photo====*/

.me {
    background: linear-gradient(($--color-bg-variant), transparent);
    width: 22rem;
    height: 30rem;
    position: relative;
    left: calc(50% - 11rem);
    margin-top: 3rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 3rem 1.5rem 1.5rem 1.5rem;


}

/*=====scroll====*/

.scroll__down {

    position: absolute;
    right: -2.1rem;
    bottom:5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.5rem;

}

/*==========media queries (medium devices )============*/

@media screen and (max-width: 1024px ) {
    header {
        height: 68vh;
    }

}

/*==========media queries (small devices )============*/

@media screen and (max-width: 642px ) {
    header {
        height: 100vh;
    
    }
    .header__socials,
    .scroll__down{
        display: none;
    }

    

}