$--color-bg: #ecd4ca;
$--color-bg-variant:#41787f;
$--color-primary:#c98771;
$--color-primary-variant:rgba(39, 97, 138);
$--color-white: #fff;
$--color-light: rgba(255, 255, 255, 0.91);

$--transition: all 400ms ease;

footer{
    text-align: center;
    padding: 3rem 0;
    background: $--color-bg-variant;
    font-size: 0.9rem;
    margin-top: 7rem;

    & a {
        color:$--color-bg ;
    }
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__head {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.footer__socials {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3.5rem;
    display: flex;
    justify-content: center;
    
    
}

.footer__socials a{
    background: $--color-primary-variant;
    color: white;
    padding: 0.8rem;
    border-radius: 0.8rem;
    display: flex;
    margin: 0 1rem 0;
    
    border: 1px solid transparent;
    
    

&:hover{
    background: transparent;
    color: $--color-bg;
    border-color: $--color-bg;

}
    
}

/*==========media queries (medium devices )============*/



    
/*==========media queries (small devices )============*/
@media screen and (max-width: 600px ) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
    
    
    }

    

    



