$--color-bg: #ecd4ca;
$--color-bg-variant:#41787f;
$--color-primary:#c98771;
$--color-primary-variant:rgba(39, 97, 138);
$--color-white: #fff;
$--color-light: rgba(255, 255, 255, 0.91);

$--transition: all 400ms ease;

.container__experience {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    
}
    
    

.container__experience > div {
    background: $--color-bg-variant;
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    margin-bottom: auto;
    transition: $--transition;

}

.container__experience > div:hover {
    background: transparent;
    border-color: $--color-bg-variant;
    color: $--color-primary-variant;
    cursor: default;
}

.container__experience > div > h3 {
    text-align: center;
    margin-bottom:  2rem;
    color:$--color-primary;
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;

}

.experience__details {
    display: flex;
    gap: 1rem;
}


.experience__details-icons {
    margin-top: 6px;
    color:$--color-primary
}



/*==========media queries (medium devices )============*/

@media screen and (max-width: 1024px ) {
.container__experience {
    grid-template-columns: 1fr;
    &>div {
        width: 80%;
        padding: 2rem;
        margin: auto;
    }
}
}

.experience__content {
padding: 1rem;  
}

/*==========media queries (small devices )============*/

.container__experience {
    gap: 1rem;
    & > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}

