$--color-bg: #ecd4ca;
$--color-bg-variant:#41787f;
$--color-primary:#c98771;
$--color-primary-variant:rgba(39, 97, 138, 0.551);
$--color-white: #fff;
$--color-light: rgba(255, 255, 255, 0.91);

$--transition: all 400ms ease;

nav {
    background: $--color-primary-variant;
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%) ;
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
     backdrop-filter: blur(15px);

}

nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: $--color-bg;
    font-size: 1.1rem;
}

nav a:hover {
    background:rgba(0, 23, 106, 0.3) ;
}

nav a.active {
    background: $--color-bg-variant;
    color: white;
    backdrop-filter: blur(50px);
}